body {
    /* background-color: rgb(149, 250, 191); */
    background: url(.././assets/img/istockphoto-1454789692-612x612.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.journal {
    /* background-color: rgba(238, 238, 238, 0.904); */
    background: linear-gradient(to right, rgba(238, 238, 238, 0.904), rgba(173, 216, 230, 0.904));
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#entry-list li {
    list-style: none;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 1%;
    background-color: rgba(211, 250, 238, 0.945);
}

#entry-list :hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#list-details {
    box-shadow: rgba(255, 255, 255, 0.918) 0px 0px 0px 3px;
    display: none;
}

.deleteButton {
    padding: 8px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

#list-details  span {
    font-weight: 700;
}

/* .fancy-border {
    background-color: rgba(238, 238, 238, 0.904);
    padding: 20px;
} */