body {
    /* background-color: #f8f9fa; */
    background-color: rgb(149, 250, 191);
}

.journal {
    /* background-color: rgba(238, 238, 238, 0.904); */
    background: linear-gradient(to right, rgba(238, 238, 238, 0.904), lightblue);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

#entry-list li {
    list-style: none;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 1%;
    background-color: rgba(211, 250, 238, 0.945);
}

#entry-list :hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#list-details {
    display: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.deleteButton {
    padding: 8px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
}

#list-details  span {
    font-weight: 700;
}